<html>
  <body>
      <h1>Simple Echo & Chat Server</h1>
      <form id="form">
       <input type="text" id="input" value="send a message"></input>
      </form>
      <div id="msgs"></div>
  </body>

  <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el) {
          return function(msg) { el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

        var sender = function(f) {
          var input     = document.getElementById('input');
          input.onclick = function(){ input.value = "" };
          f.onsubmit    = function(){
            ws.send(input.value);
            input.value = "send a message";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
  </script>

  <script type="text/javascript">
    var cells;
    var options = { preload: preload, create: create, update: update };
    var game = new Phaser.Game(800, 600, Phaser.AUTO, 'TicTacToe', options);

    function preload() {
      game.load.spritesheet('item', 'assets/buttons/number-buttons-90x90.png', 90, 90);
    }

    function create() {
      // Create item container group.
      cells = game.add.group();

      // Draw rectangle
      // var graphics = game.add.graphics(0, 0);

      // graphics.lineStyle(2, 0x0000FF, 1);
      // graphics.drawRect(50, 250, 100, 100);
    }

    function update() {
    }

  </script>

</html>
