<html>
  <body>
      <h1>Simple Echo & Chat Server</h1>
      <form id="form">
       <input type="text" id="input" value="send a message"></input>
      </form>
      <div id="msgs"></div>
  </body>

  <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el) {
          return function(msg) { el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

        var sender = function(f) {
          var input     = document.getElementById('input');
          input.onclick = function(){ input.value = "" };
          f.onsubmit    = function(){
            ws.send(input.value);
            input.value = "send a message";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
  </script>

  <script type="text/javascript">
   window.onload = function(){
    (function(){
      var cells;
      var options = { preload: preload, create: create, update: update };
      var game = new Phaser.Game(800, 600, Phaser.AUTO, 'TicTacToe', options);

      function preload() {
        game.load.spritesheet('item', '/images/number-buttons-90x90.png', 90, 90);
      }

      function create() {
        cells = game.add.group();
        makeBoard(cells);
      }

      function update() {}



      var makeBoard = function(cells) {
        for(var i = 1; i <= 5; i++) {
          for(var j = 1; j <= 5; j++) {
            var one_cell;
            one_cell = cells.create(90*i, 90*j, 'item', i-1);
            one_cell.name = 'block' + i + j;
            one_cell.inputEnabled = true;
            // FIXME: only while test
            one_cell.input.enableDrag();
          }
        };
      }

    })();
  };
  </script>

</html>
